<div class="row">
    <div class="col-xs-6 text-center">
        <h6>Name</h6>
        <input class='form-control' type="text" ng-model="user.name">
        <h6>Adjective</h6>
        <input class='form-control' type="text" ng-model="user.adj1">
        <h6>Noun</h6>
        <input class='form-control' type="text" ng-model="user.noun1">
        <h6>Verb - Past Tense</h6>
        <input class='form-control' type="text" ng-model="user.verb1">
    </div>
    <div class="col-xs-6 text-center">
        <h6>Verb - Plural</h6>
        <input class='form-control' type="text" ng-model="user.verb2">
        <h6>Verb</h6>
        <input class='form-control' type="text" ng-model="user.verb3">
        <h6>Noun</h6>
        <input class='form-control' type="text" ng-model="user.noun2">
    </div>
</div>
<div class="row">
    <div class="col-xs-12 btnStyle">
        <button class='btn btn-default  center-block ' type='button' ng-click='infoInput(user)'>Submit</button>
    </div>

</div>
